<div class="container">

<footer class="footer">

<small>

Copyright © Adaplo Test

by <a href="http://glympero-portfolio.heroku.com/">Georgios Lymperopoulos</a>

</small>

<nav>

<ul>

</ul>

</nav>

</footer>

</div>